@model eZdravje.Models.Patient

@{
    ViewData["Title"] = "Izbriši pacienta";
}

<h1>Izbriši pacienta</h1>

<h4>Ste prepričani, da želite izbrisati tega pacienta?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Ime
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Priimek
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            Naslov
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class="col-sm-2">
            Poštna številka
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class="col-sm-2">
            Naselje
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            Datum in ura rojstva
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class="col-sm-2">
            Osebni zdravnik
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialist.Name)
            @Html.DisplayFor(model => model.Specialist.LastName)
            @Html.DisplayFor(model => model.Specialist.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Izbriši pacienta" class="btn btn-danger" /> |
        <a asp-action="Index">Nazaj na seznam</a>
    </form>
</div>
