@model eZdravje.Models.Patient

@{
    ViewData["Title"] = "O pacientu";
}

<h1>O pacientu</h1>

<div>
    <h4>@Html.Raw(Model.Name + " " + Model.LastName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Ime
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Priimek
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            Naslov
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class="col-sm-2">
            Poštna številka
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class="col-sm-2">
            Naselje
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            Datum in ura rojstva
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class="col-sm-2">
            Osebni zdravnik
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialist.Name)
            @Html.DisplayFor(model => model.Specialist.LastName)
            @Html.DisplayFor(model => model.Specialist.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Nazaj na seznam</a>
</div>
