@model eZdravje.Models.SpecialistCategory

@{
    ViewData["Title"] = "Podrobnosti o specializaciji";
}

<div class="heading">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white text-bold">
                <div class="heading-title">
                    <h1 class="display-5">O specializaciji</h1>
                    <p>Št specializacije: @Html.Raw(Model.Id)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: -130px">
        <div class="col-sm-8 offset-sm-2">
            <div class="card">
                <div class="card-body" style="margin: 10px">
                    <div class="col-12">
                        <h4 style="margin-bottom: 20px" class="text-center">Podatki o specializaciji</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">ID</th>
                                    <td>@Html.DisplayFor(model => model.Id)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Ime</th>
                                    <td>@Html.DisplayFor(model => model.Name)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Opis</th>
                                    <td>@Html.DisplayFor(model => model.Description)</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
                            <a asp-action="Index">Nazaj na seznam</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
