@model IEnumerable<eZdravje.Models.SpecialistCategory>

@{
    ViewData["Title"] = "Specializacije";
}

<h1>Specializacije</h1>

<p>
    <a asp-action="Create">Dodaj specializacijo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naziv specializacije
            </th>
            <th>
                Opis 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Podrobnosti</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
