@model eZdravje.Models.Prescription

@{
    ViewData["Title"] = "Podrobnosti o receptu";
}

<h1>O receptu</h1>

<div>
    <h4>Št recepta: @Html.Raw(Model.Id)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID recepta
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Naziv recepta
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Opis
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Brez doplačila (zeleni recept)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Free)
        </dd>
        <dt class="col-sm-2">
            Porabljen
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsUsed)
        </dd>
        <dt class="col-sm-2">
            Zdravnik, ki predpisuje
        </dt>
        <dd class="col-sm-10">
            @Html.Raw($"{Model.Specialist.Name} {Model.Specialist.LastName} (ID: {Model.SpecialistId}) (Ustanova: {Model.Specialist.Street})")
        </dd>
        <dt class="col-sm-2">
            Pacient
        </dt>
        <dd class="col-sm-10">
            @Html.Raw($"{Model.Patient.Name} {Model.Patient.LastName} (ID: {Model.PatientId}) (Naslov: {Model.Patient.Street}, {Model.Patient.PostalCode} {Model.Patient.City})")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Nazaj na seznam</a>
</div>
