@model eZdravje.Models.Specialist

@{
    ViewData["Title"] = "Izbriši zdravnika";
}

<div class="heading">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white text-bold">
                <div class="heading-title">
                    <h1 class="display-5">Izbris zdravnika</h1>
                    <p>Tukaj lahko izbrišete zdravnika.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: -130px">
        <div class="col-sm-8 offset-sm-2">
            <div class="card">
                <div class="card-body" style="margin: 10px">
                    <div class="col-12">
                        <h4 style="margin-bottom: 20px" class="text-center">Podatki o zdravniku</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Ime</th>
                                    <td>@Html.DisplayFor(model => model.Name)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Priimek</th>
                                    <td>@Html.DisplayFor(model => model.LastName)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Naslov</th>
                                    <td>@Html.DisplayFor(model => model.Street)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Poštna številka</th>
                                    <td>@Html.DisplayFor(model => model.PostalCode)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Naselje</th>
                                    <td>@Html.DisplayFor(model => model.City)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Specializacija</th>
                                    <td>@Html.DisplayFor(model => model.SpecialistCategory.Name)</td>
                                </tr>
                            </tbody>
                        </table>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Izbriši zdravnika" class="btn btn-danger" /> |
                            <a asp-action="Index">Nazaj na seznam</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
