@model IEnumerable<eZdravje.Models.Specialist>

@{
    ViewData["Title"] = "Vsi zdravniki";
}

<h1>Seznam zdravnikov</h1>

<p>
    <a asp-action="Create">Dodaj zdravnika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ime
            </th>
            <th>
                Priimek
            </th>
            <th>
                Naslov
            </th>
            <th>
                Poštna številka
            </th>
            <th>
                Naselje
            </th>
            <th>
                Specializacija
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialistCategory.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Podrobnosti</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
