@model eZdravje.Models.Referral

@{
    ViewData["Title"] = "Podrobnosti o napotnici";
}

<div class="heading">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white text-bold">
                <div class="heading-title">
                    <h1 class="display-5">O napotnici</h1>
                    <p>Št napotnice: @Html.Raw(Model.Id)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: -130px">
        <div class="col-sm-8 offset-sm-2">
            <div class="card">
                <div class="card-body" style="margin: 10px">
                    <div class="col-12">
                        <h4 style="margin-bottom: 20px" class="text-center">Podatki o napotnici</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">ID napotnice</th>
                                    <td>@Html.DisplayFor(model => model.Id)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Naziv napotnice</th>
                                    <td>@Html.DisplayFor(model => model.Name)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Opis</th>
                                    <td>@Html.DisplayFor(model => model.Description)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Kategorija (1 - redno, 2 - hitro, 3 - nujno)</th>
                                    <td>@Html.DisplayFor(model => model.Category)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Zdravnik, ki izdaja napotnico</th>
                                    <td>
                                        @Html.Raw($"{Model.Specialist.Name} {Model.Specialist.LastName} (ID: {Model.SpecialistId}) (Ustanova: {Model.Specialist.Street})")
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Pacient</th>
                                    <td>
                                        @Html.Raw($"{Model.Patient.Name} {Model.Patient.LastName} (ID: {Model.PatientId}) (Naslov: {Model.Patient.Street}, {Model.Patient.PostalCode} {Model.Patient.City})")
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Namenjeno specialistu</th>
                                    <td>
                                        @Html.DisplayFor(model => model.SpecialistCategory.Name)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
                            <a asp-action="Index">Nazaj na seznam</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
