@model eZdravje.Models.Referral

@{
    ViewData["Title"] = "Podrobnosti o napotnici";
}

<h1>O napotnici</h1>

<div>
    <h4>@Html.Raw($"Številka napotnice: {Model.Id}")</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Naziv napotnice
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Opis
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Kategorija (1 - redno, 2 - hitro, 3 - nujno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            Porabljeno
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUsed)
        </dd>
        <dt class="col-sm-2">
            Zdravnik, ki izdaja napotnico
        </dt>
        <dd class="col-sm-10">
            @Html.Raw($"{Model.Specialist.Name} {Model.Specialist.LastName} (ID: {Model.SpecialistId}) (Ustanova: {Model.Specialist.Street})")
        </dd>
        <dt class="col-sm-2">
            Pacient
        </dt>
        <dd class="col-sm-10">
            @Html.Raw($"{Model.Patient.Name} {Model.Patient.LastName} (ID: {Model.PatientId}) (Naslov: {Model.Patient.Street}, {Model.Patient.PostalCode} {Model.Patient.City})")
        </dd>
        <dt class="col-sm-2">
            Namenjenu specialistu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpecialistCategory.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Nazaj na seznam</a>
</div>
